lang en_US
keyboard US
timezone Europe/Oslo --isUtc
rootpw PASSWORD --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
text
cdrom
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
auth --passalgo=sha512 --useshadow
user --name=username --password=password
selinux --disabled
firewall --enabled
skipx
firstboot --disable
%post
yum update -y 
yum upgrade -y
%end
%packages
@^server-product-environment
@development
%end
